#IntroduceBacklog {
  .dialog-content {
    height: 200px;
  }
  .role {
    transform: scaleX(-1);
    width: 30rem;
    position: absolute;
    bottom: 32%;

    @include rwd(xs) {
      width: 25rem;
      bottom: 40%;
    }
  }

  .bla {
    transform: scale(0.2) rotate(20deg);
    position: absolute;
    bottom: 50%;
    left: 35%;
    opacity: 0.6;
    @include rwd(xs) {
      left: 12%;
    }
  }

  .icon-down {
    display: block;
    text-align: center;
    cursor: pointer;
  }

  button {
    margin: 0 auto;
    display: block;
    animation-fill-mode: backwards;
  }

  .icon-undo {
    display: block;
    transform: scaleX(-1);
    position: absolute;
    right: 2.5rem;
    bottom: 2rem;
    color: #9e9d9c;
    cursor: pointer;
  }
}
