#Story {
  position: relative;

  img {
    margin: 0 auto;
    display: block;

    @include rwd(xs) {
      width: 25rem;
      position: absolute;
      bottom: 30%;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .pad {
    position: absolute;
    bottom: 0;
    background-image: url("../../assets/imgaes/pad.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(0.664 * 100vw);
    padding-top: calc(0.08 * 100vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    animation-duration: calc(var(--animate-duration) * 1.4);
    animation-name: backInUp;
    transform: translate3d(0, 380px, 0) scale(1.1);
    animation-fill-mode: forwards;

    p,
    button {
      font-size: 2.5rem;
      @include rwd(xs) {
        font-size: 1rem;
      }
    }
    p {
      text-align: center;
      color: $color-gray;
    }

    button {
      color: $color-gray;
    }
  }
}
