#TaskPriority {
  .img-crocodile {
    position: absolute;
    width: 30rem;
    right: 10vw;
    top: 3rem;

    @include rwd(xs) {
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .pad {
    .pad-content {
      margin-bottom: 4rem;
      grid-template-areas:
        "title sort"
        "list  sort";
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

    .drop-list {
      .drop-item {
        &:nth-child(odd) {
          margin-right: 3rem;
        }

        &:nth-child(even) {
          margin-left: 3rem;
        }
      }
    }

    .drop-sort-list {
      .drop-sort-item {
        border: 3px dashed $color-white;
        border-radius: 10px;
        font-size: 3.75rem;
        span {
          color: $color-white;
          opacity: 0.4;
        }
      }
    }

    .drop-sort-list-content {
      grid-area: sort;
      position: relative;
      background-color: $color-blue;
      border-radius: 20px;
      padding: 1.5rem 4.5rem 1.5rem 1.5rem;
    }

    .drop-sort-tip {
      text-align: center;
      background: $color-blue;
      border-radius: 20px;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}
