@mixin duration {
  animation-duration: calc(var(--animate-duration) * 0.75);
}

.duration {
  @include duration;
}

.paused {
  animation-play-state: paused;
}

/* keyframes */
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    bottom: -50%;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    bottom: 0;
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes backInUp {
  0% {
    -webkit-transform: translate3d(0, 380px, 0) scale(0.9);
    transform: translate3d(0, 380px, 0) scale(0.9);
  }

  95% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.1);
    transform: translate3d(0, 0, 0) scale(1.1);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }

  50% {
    opacity: 0.3;
  }
}
.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@keyframes flowSprintInUp {
  from {
    transform: translate(-50%, 100%);
  }

  to {
    transform: translate(-50%, 0);
  }
}

.flowSprintInUp {
  -webkit-animation-name: flowSprintInUp;
  animation-name: flowSprintInUp;
}
