//font size
$fonts: (
   xs: (
      0.75rem,
      1rem,
   ),
   //12px
   sm:
      (
         0.875rem,
         1.25rem,
      ),
   //14px
   base:
      (
         16px,
         24px,
      ),
   //16px
   lg:
      (
         1.125rem,
         1.75rem,
      ),
   //18px
   xl:
      (
         1.25rem,
         1.75rem,
      ),
   //20px
   2xl:
      (
         1.5rem,
         2rem,
      ),
   //24px
   3xl:
      (
         2rem,
         2.5rem,
      ),
   //32px
   4xl:
      (
         3rem,
         1,
      ),
   //48px
);

@mixin font-size($text-name) {
   font-size: nth(map-get($fonts, $text-name), 1);
   line-height: nth(map-get($fonts, $text-name), 2);
}

// RWD
$media: (
   2xs: 375px,
   xs: 480px,
   sm: 640px,
   md: 768px,
   lg: 992px,
   xl: 1280px,
   2xl: 1536px,
);

@mixin rwd($breakpoint, $width: "max-width") {
   @if map-has-key($media, $breakpoint) {
      $point: map-get($media, $breakpoint);

      @media ($width: $point) {
         @content;
      }
   } @else {
      @warn 'Invalid breakpoint: #{$breakpoint}.';
   }
}

// dialog-box style
@mixin dialog-border {
   border: 4px solid #201c1b;
   border-radius: 8px;
}

@mixin dialog-box {
   background-color: $color-zorba;
   padding: 8px;
   position: absolute;
   bottom: 5%;
   width: 90%;
   left: 50%;
   transform: translate(-50%, 0);
}

@mixin dialog-content {
   background-color: #f3eee9;
   color: $color-gray;
   padding: 2rem 2.5rem;
   font-size: 2rem;
   position: relative;
   line-height: 150%;
   text-align: justify;
   letter-spacing: 0.05em;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;

   @include rwd(xl) {
      font-size: 1.5rem;
   }

   @include rwd(xs) {
      font-size: 1.2rem;
   }
   > div {
      width: 100%;
   }
}
