button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  @include duration;
  color: $color-gray;

  .button-scale:hover {
    transform: scale(1.3);
    transition: all 0.5s ease;
  }

  &.next-step {
    font-size: 3.75rem;

    @include rwd(xs) {
      font-size: 2rem;
    }
  }
}
